// Responsive Breakpoint
$bp-large: 62em;        //992px
$bp-medium: 45em;       //720px
$bp-small: 40em;        //640px
$bp-small2: 30em;       //480px
$bp-small3: 25em;       //400px

.card-list {
    margin-top: 4rem;
}

.card {
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    margin-bottom: 2rem;
    background-color: white;
    // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

    @media only screen and (min-width: $bp-small){
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    @media only screen and (max-width: $bp-small3){
        padding: 2rem;
    }

    .card--title {
        margin-bottom: 0.5rem;
        font-size: 3.2rem;

        @media only screen and (min-width: $bp-small){
            margin: 1rem 0;
        }

        @media only screen and (max-width: $bp-small3){
            font-size: 2.5rem;
        }
    }

    .card--img {
        margin: 0 auto;
        display: block;

        @media only screen and (min-width: $bp-small){
            margin-right: 20px;
            margin-left: 0;
        }
    }
}